.carousel-caption {
  background-color: #333;
  border-radius: 4px;
}

.carousel-control-prev-icon {
  background-color: #999;
  border-radius: 5px;
}

.carousel-control-next-icon {
  background-color: #999;
  border-radius: 5px;
}

.carousel-item {
  justify-content: center;
  max-width: 20%;
  max-height: 20%;
}

.carousel-indicators {
  border-color: black;
  border-width: 2px;
  border-radius: 4px;
  background-color: rgb(99, 98, 98);
}

.carousel {
  justify-content: center;
  margin: 2vh;
}

