


h1 {
  margin: 2vh;
}
form *{
  margin: 2vh;
}
.form-control {
  margin: 2vh;
}
.btn {
  margin: 3vh;
}
.list-group-item{
  margin: 1vh;
}
div {
  background-color: cornflowerblue;
  
}
.container {
  border-color: coral;
  border-width: 2px;
  border-radius: 4px;
}